framework: net40
source https://nuget.org/api/v2

nuget FSharp.Core >= 4.0.0 lowest_matching: true
nuget Selenium.WebDriver

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx
